<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="file-browser"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="file-browser">
         </property>
         <property
               name="applicationXMI"
               value="e4.rcp.filebrowser/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/e4.rcp.filebrowser/css/default.css">
         </property>
      </product>
   </extension>

</plugin>
